.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid black;
    background-color: white;
    z-index: 1000;
    padding-bottom: 10px;
}

.nav-item {
    color: rgb(167, 25, 25);
    text-decoration: none;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid lightblue;
}

.nav-item:hover {
    background-color: lightblue;
}

.nav-item-selected {
    background-color: lightblue;
}
